# Only match .*
/*
!/.*

# Ignore default dotfiles.  Even though these are covered by .config/git/ignore
# we need to re-ignore them here because the !/.* above un-ignores them.
.*.pyc
.*.sw[a-z]
.sw[a-z]
.*.un~
__pycache__
*.pyc

# Ignore the gitdir of this repo.
/.dotfiles
/.dotfiles.git

# Top-level files and directories that I don't care about.
/.Braid
/.ICEauthority
/.Xauthority*
/.adobe
/.android
/.appcfg_nag
/.apport-ignore.xml
/.aptitude
/.aspell.*
/.audacity-data
/.avidemux
/.bash_history
/.bzr.log
/.cache
/.compiz
/.compiz-1
/.composer
/.cups
/.dbus
/.dmrc
/.eclipse
/.fltk
/.fontconfig
/.gdb_history
/.gegl-0.0
/.gem
/.gimp-?.?
/.gitignore.swp
/.gitk
/.gksu.lock
/.gmc-sync-nssdb.log
/.gnome
/.gnome2
/.gnome2_private
/.goutputstream-*
/.gstreamer-0.10
/.gsutil
/.gtk-bookmarks
/.gvfs
/.history
/.irssi
/.java
/.kde
/.lesshst
/.linuxmint/mintMenu
/.local
/.macromedia
/.mcoprc
/.mission-control
/.mono
/.mozc
/.news_time
/.node_repl_history
/.npm
/.nv
/.nvidia-settings-rc
/.nviminfo
/.nvimlog
/.openshot
/.pam_environment
/.pip
/.pki
/.psi
/.pulse
/.pulse-cookie
/.python_history
/.qt
/.rnd
/.selected_editor
/.speech-dispatcher
/.sqlite_history
/.ssl_vpn_request.yml
/.steam
/.steampath
/.steampid
/.sudo_as_admin_successful
/.swp
/.swt
/.thumbnails
/.tmp
/.uim.d
/.viminfo
/.wavemonrc
/.wireshark
/.xfce4-session.verbose-log
/.xfce4-session.verbose-log.last
/.xinputrc
/.xscreensaver
/.xsel.log
/.xsession-errors
/.xsession-errors.old
/.ycm_extra_conf.py
/.zcompdump
/.zcompdumps
/.zhistfile
/.zsnes

# Saved games or other big directories not appropriate for dotfiles.git
/.PlayOnLinux
/.VirtualBox
/.crawl
/.dosbox
/.scummvmrc
/.t-engine
/.wine
/.vvvvvv

# No longer needed.
/.mozilla

# Top-level directories that might contain some useful configuration, but I am
# just too lazy to try to extract the important bits from all the cruft.
/.mateconf
/.mateconfd
/.matplotlib
/.qalculate
/.xchat2

# Sensitive files and directories that should never be checked in.
/.TrueCrypt
/.VeraCrypt
/.appcfg_cookies
/.appcfg_oauth2_tokens
/.gnupg
/.lastpass
/.netrw
/.nzbget

# We only care about some things in gconf.
/.gconf
!/.gconf/apps/gnome-terminal

# Ignore temp / cache files and directories.
/.curl/cookies
/.nx/temp
/.scummvm/logs
/.vim/.netrwhist
/.vim/cache
/.vim/spell
/.zsh/cache

# Ignore vim bundles, which can be downloaded again.
/.vim/plugged

# The log file is created by YCM, I think.
/.vim/data/log

# Only track specific files in some directories.
/.ssh/*
!/.ssh/config

# The .config mostly has crap we don't care about, but there are a few
# important things in there.
/.config/*

!/.config/user-dirs.*

/.ipython/Crash_report_ipython.txt
/.ipython/profile_default/db
/.ipython/profile_default/history.sqlite
/.ipython/profile_default/log
/.ipython/profile_default/pid
/.ipython/profile_default/security
/.ipython/profile_default/static

!/.config/git
!/.config/mpv

!/.config/xfce4
/.config/xfce4/*
!/.config/xfce4/terminal

# Even though ~/local/bin are not dotfiles, I usually want them whenever I want
# dotfiles.
!/local
/local/*
!/local/bin
/local/bin/.gitignore

# May care about /.config/menus/ one day.
